@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    height: 100%;
  }
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
html {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}
@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
  .dark body {
    @apply bg-[#0b1220] text-gray-100;
  }
}
select option {
  background-color: white;
  color: #111827;
}

.dark select option {
  background-color: #0f172a;
  color: #e5e7eb;
}
